:root {
  --background-light: #f9f9f9;
  --text-light: #000;
  --card-light: #fff;
  --background-dark: #181818;
  --text-dark: #f9f9f9;
  --card-dark: #242424;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: var(--background-light);
  color: var(--text-light);
  transition: background-color 0.3s, color 0.3s;
}

body.dark-mode {
  background-color: var(--background-dark);
  color: var(--text-dark);
}

header {
  display: flex;
  padding: 20px;
  align-items: center;
  justify-content: center;
  gap: 40px;
  background: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

header input {
  padding: 10px;
  width: 400px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

header button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: #fff;
  cursor: pointer;
}

header button:hover {
  background-color: #45a049;
}

.user-container {
  display: grid;
  grid-template-columns: auto auto;
  justify-content: center;
  gap: 20px;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
}

.user-card {
  background: var(--card-light);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s, color 0.3s;
  width: 250px;
  text-align: center;
}

body.dark-mode .user-card {
  background: var(--card-dark);
}

.user-card h2 {
  margin: 0;
  font-size: 20px;
  margin-bottom: 10px;
}

.user-card p {
  margin: 5px 0;
  font-size: 14px;
}

.user-card p i {
  margin-right: 10px;
  color: #555;
}

body.dark-mode .user-card p i {
  color: #aaa;
}
